body {
    margin: 0;
    user-select: none;
    /* overflow: hidden; */
}
#logo {
    width: 100%;
    height: 12vh;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 12vh;
    font-size: 3vh;
}
#container {
    width: 100vw;
    height: calc(100vh - 12vh);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* 컨테이너 오버플로우 숨기기 */
    position: relative; /* 상대적인 위치 설정 */
}
#container > .button {
    width: 18vh;
    height: 7vh;
    border: 1vw solid black;
    font-weight: bolder;
    text-align: center;
    line-height: 7vh;
    font-size: 2.8vh;
}
#container > .button:hover {
    background-color: black;
    color: white;
}